<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mhp.mapper.user.ProfileMapper">

    <update id="updateById" parameterType="com.mhp.vo.user.ProfileVO">
        update sys_user_profile 
        <set>
        <if test="avatar != null">
        avatar = #{avatar},
        </if>
        <if test="emergencyContact != null">
        emergency_contact = #{emergencyContact},
        </if>
        <if test="emergencyPhone != null">
        emergency_phone = #{emergencyPhone},
        </if>
        <if test="bio != null">
        bio = #{bio}
        </if>
        </set>
        where user_id = #{userId}
    </update>

</mapper>
