<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
        
<mapper namespace="com.mhp.mapper.user.UserScaleMapper">
    <select id="scaleList" resultType="com.mhp.entity.PsyScale">
        select * from psy_scale where status = 1
    </select>


    <!-- questions --> 

    <select id="questions" resultType="com.mhp.vo.user.QuestionsVO">
        select * from psy_question where scale_id = #{scaleId}
    </select>    

    <!-- optionsByQuestionId --> 
<select id="optionsByQuestionId" resultType="com.mhp.vo.user.OptionVO">
    select * from psy_option 
    where question_id in 
    <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>
</select>

</mapper>
