<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mhp.mapper.ExamMapper">
    <select id="pageQuery" resultType="com.mhp.vo.ExamPageQueryVO">
        select 
            per.*,
            su.student_no as studentNo,
            su.real_name as studentName,
            ps.scale_name as scaleName
        from psy_exam_record as per
        left join sys_user as su on per.student_id = su.user_id
        left join psy_scale as ps on per.scale_id = ps.scale_id
        <where>
            <if test="studentNo != null and studentNo != ''">
                and su.student_no like concat('%',#{studentNo},'%')
            </if>
            <if test="status != null">
                and per.status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- selectReport --> 

    <select id="selectReport" resultType="com.mhp.vo.ExanReportVO">
        select *
        ,su.real_name as studentName
        ,ps.scale_name as scaleName
        from psy_report as pr
        left join sys_user as su on pr.student_id = su.user_id
        left join psy_scale as ps on pr.scale_id = ps.scale_id
        where pr.record_id = #{recordId}
    </select>
</mapper>
