<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhp.mapper.ScaleMapper">
    <select id="pageQuery" resultType="com.mhp.entity.PsyScale">
        select * from psy_scale
        <where>
            <if test="scaleName != null and scaleName != ''">
                and scale_name like concat('%',#{scaleName},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- 新增心理量表 --> 
    <insert id="insert" parameterType="com.mhp.entity.PsyScale">
        insert into psy_scale 
        (scale_name, scale_code, description, estimated_time,target_group,status,is_builtin,create_time,update_time)
        values (#{scaleName}, #{scaleCode}, #{description}, #{estimatedTime}, #{targetGroup}, #{status}, #{isBuiltIn}, #{createTime}, #{updateTime})  
    </insert>

    <!-- 校验心理量表是否存在该编码 --> 
    <select id="selectByScaleCode" resultType="java.lang.Integer">
        select count(*) 
        from psy_scale 
        where scale_code = #{scaleCode}
    </select>

    <!-- 更新心理量表 --> 
    <update id="update" parameterType="com.mhp.entity.PsyScale">
        update psy_scale 
        <set> <if test="scaleName != null and scaleName != ''">
                scale_name = #{scaleName}, 
            </if>
            <if test="description != null and description != ''">
                description = #{description}, 
            </if>
            <if test="estimatedTime != null">
                estimated_time = #{estimatedTime}, 
            </if>
            <if test="targetGroup != null and targetGroup != ''">
                target_group = #{targetGroup}, 
            </if>
            <if test="status != null">
                status = #{status}, 
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where scale_id = #{scaleId}
    </update>


    <!-- 根据量表ID查询心理量表详情 --> 

    <select id="selectById" resultType="com.mhp.vo.ScaleVO">
        select *
         from psy_scale 
         where scale_id = #{scaleId}
    </select>

    <!-- 根据量表ID查询题目表 --> 
    <select id="selectByScaleQuestion" resultType="com.mhp.vo.PsyQuestionVO">
        select * from psy_question where scale_id = #{scaleId}
    </select>

    <!-- selectByScaleOption --> 

   <select id="selectByScaleOption" resultType="com.mhp.entity.PsyOption">
    select * from psy_option where question_id in
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
</select>

    <!-- insertQuestion --> 

    <insert id="insertQuestion" parameterType="com.mhp.entity.PsyQuestionDTO">
        insert into psy_question (scale_id, question_no, content, is_reverse, dimension)
        values (#{scaleId}, #{questionNo}, #{content}, #{isReverse}, #{dimension})
    </insert>

    <!-- selectByQuestionNo --> 

    <select id="selectByQuestionNo" resultType="java.lang.Integer">
        select count(*)
        from psy_question
        where scale_id = #{scaleId} and question_no = #{questionNo}
    </select>
</mapper>