<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhp.mapper.UserMapper">

<!-- 分页查询用户 --> 
    <select id="pageQuery" resultType="com.mhp.vo.UserPageQueryVO">
        select 
            su.*,
            sr.role_name
         from sys_user as su
        left join sys_role as sr on su.role_id = sr.role_id
        <where>
         <if test="realName != null and realName != ''">
                and real_name like concat('%',#{realName},'%')
            </if>
            <if test="studentNo != null and studentNo != ''">
                and student_no like concat('%',#{studentNo},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- insert --> 

    <insert id="insert" parameterType="com.mhp.entity.SysUser">
        insert into sys_user (real_name, student_no, password, role_id,phone,status, create_time)
        values (#{realName}, #{studentNo}, #{password}, #{roleId},#{phone},#{status},#{createTime})
    </insert>    
</mapper>